/* **** Color Scheme ********
Red-Watermelon: #FF3B3F;
Sky-Blue: #CAEBF2;
Neutral-lightGrey: #EFEFEF;
Carbon-darkGrey: #A9A9A9;
*/

body{
  background: #EFEFEF;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  font-family: 'Roboto', Arial, Tahoma, sans-serif;
}

.container{
  padding-left: 25px;
  padding-right: 25px;
  margin: 15% auto 35px;
  min-width: 300px;
  max-width: 450px;

}

.card-box{
  background: #fff;
  min-height: 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  margin-bottom: 30px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 15px;
}

.card-box .header{
  color: white;
  background-color: #FF3B3F;
  padding: 20px;
  position: relative;
  border-bottom: 1px solid rgba(204, 204, 204, 0.35);
  border-radius: 15px 15px 0px 0px;
}

.card-box .card-box-padfont{
  font-size: 14px;
  padding: 20px;
}

.input-group{
  width: 100%;
  margin-bottom: 20px;
}

.input-group .input-group-addon{
  border: none;
  background-color: transparent;
  padding-left: 0;
  font-weight: bold;
}

.input-group .input-group-addon .material-icons {
    font-size: 18px;
    color: #555;
}

.input-group .form-line{
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.input-group input[type="text"], .input-group .form-control {
    border: none;
    box-shadow: none;
    padding-left: 0;
}

.btn-signin-submit{
  background-color: hsl(0, 100%, 33%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0f0f", endColorstr="#a80000");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ff0f0f), to(#a80000));
  background-image: -moz-linear-gradient(top, #ff0f0f, #a80000);
  background-image: -ms-linear-gradient(top, #ff0f0f, #a80000);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff0f0f), color-stop(100%, #a80000));
  background-image: -webkit-linear-gradient(top, #ff0f0f, #a80000);
  background-image: -o-linear-gradient(top, #ff0f0f, #a80000);
  background-image: linear-gradient(#ff0f0f, #a80000);
  border-color: #a80000 #a80000 hsl(0, 100%, 28%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased
  font-weight: bold;
}

}
