/* .chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.body{
  max-width: 80%;
  margin: 0 auto;
}

#temp-info{
  padding: 40px;
}

svg{
  padding: 40px;
}
 */
/* From the d3noob.org example */
body { font: 12px Arial;}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
